<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wowapps.vidsapp"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:maxSdkVersion="25"
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />


    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" >
    </supports-screens>


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.wowapps.vidsapp.VidsActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name="com.wowapps.vidsapp.SplashActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wowapps.vidsapp.YoutubePlayerActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation"/>
        <activity
            android:name="com.wowapps.vidsapp.YoutubePlaylistActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.wowapps.vidsapp.VidsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wowapps.vidsapp.VidsActivity" />
        </activity>

        <activity
            android:name="com.wowapps.vidsapp.VideoListActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.wowapps.vidsapp.VidsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wowapps.vidsapp.VidsActivity" />
        </activity>

        <activity
            android:name="com.wowapps.vidsapp.VideoSearchListActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.wowapps.vidsapp.VidsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wowapps.vidsapp.VidsActivity" />
        </activity>

        <activity
            android:name="com.wowapps.vidsapp.PlayListActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.wowapps.vidsapp.VidsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wowapps.vidsapp.VidsActivity" />
        </activity>

        <activity
            android:name="com.wowapps.vidsapp.YoutubePlaylistPlayerActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c571a009232e5f2b1bd8c00fc7863ee455548434" />

        <activity
            android:name="com.wowapps.vidsapp.VidsFavoriteActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.wowapps.vidsapp.VidsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wowapps.vidsapp.VidsActivity" />
        </activity>
        <activity
            android:name="com.wowapps.vidsapp.RadioFmActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.wowapps.vidsapp.RadioFmActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wowapps.vidsapp.VidsActivity" />
        </activity>
        <activity
            android:name="com.wowapps.vidsapp.AboutActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.wowapps.vidsapp.AboutActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wowapps.vidsapp.VidsActivity" />
        </activity>
        <activity
            android:name="com.wowapps.vidsapp.FeedbackActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.wowapps.vidsapp.FeedbackActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wowapps.vidsapp.VidsActivity" />
        </activity>
        <!--Include the AdActivity configChanges and theme. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
    </application>

</manifest>